<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="login">
    <div class="modal-dialog">
        <div class="modal-content"
            style="padding: 25px; background-image: url(Img/form-fond.png); border: 3px solid #e3e3e3;">
            
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Inicia Sesión</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form th:action="@{/usuarios/login}" method="post">
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="emailAddress" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="emailAddress" name="emailAddress" required>
                        <div class="form-text">Nunca compartiremos tu correo electrónico con nadie más.</div>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                        <label class="form-check-label" for="rememberMe">Guardar en este dispositivo</label>
                    </div>

                    <div th:if="${errorl}" class="alert alert-danger text-center" th:text="${error}"></div>

                    <button type="submit" class="btn btn-primary w-100">Iniciar</button>
                </div>

                <div class="text-center my-3">
                    <label class="form-label" style="font-weight: 600;">Continuar con</label>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button class="btn btn-outline-danger me-md-2" type="button">
                            <img src="Img/icon-google.png" alt="" width="30px" style="padding-right: 4px;">Google
                        </button>
                        <button class="btn btn-outline-primary" type="button">
                            <img src="Img/icon-facebook2.png" alt="" width="30px" style="padding-right: 4px;">Facebook
                        </button>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
                        data-bs-toggle="modal" data-bs-target="#register">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>
