<div th:fragment="header">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <header class="header-principal container-fluid px-lg-5 px-0" style="background-color: #F8F8F8;">
        <nav class="navbar navbar-expand-lg m-0" style="height: 4rem; box-shadow: none; background-color: #F8F8F8;">

            <button class="navbar-toggler p-2 d-lg-none" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" aria-expanded="false"
                aria-label="Toggle navigation"
                style="border: none; font-size: 1.4rem; background-color:transparent; color: #505050;">
                <i class="fa-solid fa-bars"></i>
            </button>
            <a class="navbar-brand m-0 " th:href="@{/Index}" style="cursor: pointer;">
                <img src="/Img/logo.png" alt="Logo" height="35px">
            </a>

            <div class="d-flex align-items-center d-lg-none ms-auto">
                <button class="btn btn-sm py-0 px-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse"
                    style="border: none;">
                    <i class="fas fa-search"></i>
                </button>
                <a th:href="@{/Carrito}" class="nav-link px-2">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>

            <div class="collapse navbar-collapse d-none d-lg-flex justify-content-between" id="navbarNav">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-2">
                        <a class="btn btn-primary d-flex align-items-center justify-content-center gap-1 px-2"
                            data-bs-toggle="offcanvas" href="#cat1" role="button" aria-controls="cat1"
                            style="background-color: #28AA00; border: none; height: 2.8rem; font-size: 1rem;">
                            <i class="fa-solid fa-bars"></i>Categorías
                        </a>
                    </li>
                </ul>

                <form class="d-flex mx-4 flex-grow-1" role="search" style="max-width: 100%;">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="¿Qué estás buscando?" aria-label="Search"
                            style="border: none;">
                        <button class="btn" type="submit" style="background-color: white; color: #B3B3B3;">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>

                <div class="d-flex align-items-center text-center flex-nowrap gap-1">
                    <!-- Si el usuario está logueado -->
                    <div th:if="${usuario != null}" class="dropdown">
                        <a class="btn dropdown-toggle d-flex align-items-center gap-2" href="#" role="button"
                            id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                            style="color: #505050; background: transparent; border: none;">
                            <i class="fa-solid fa-user" style="font-size: 1.2rem;"></i>
                            <span th:text="${usuario.name != null ? usuario.name : 'Usuario'}">Usuario</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" th:href="@{/usuarios/Loggin-User}">Mi cuenta</a></li>
                            <li th:if="${usuario != null and usuario.rol == 'ADMINISTRADOR'}"><a class="dropdown-item"
                                    th:href="@{/VistaAdmin}">Panel Administrador</a></li>
                            <li>
                            <li th:if="${usuario != null and usuario.rol == 'EMPLEADO'}"><a class="dropdown-item"
                                    th:href="@{/EnviosPag}">Panel Empleado</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text-danger" th:href="@{/usuarios/logout}">Cerrar sesión</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Si NO hay usuario logueado -->
                    <div th:if="${usuario == null}" class="btn-nav d-flex align-items-center gap-1 px-3"
                        data-bs-toggle="modal" data-bs-target="#login" style="cursor: pointer;">
                        <i class="fa-solid fa-user" style="color: #505050; font-size: 1.2rem;"></i>
                        <p class="mb-0 lh-sm small text-start" style="color: #505050;">Iniciar <br> Sesión</p>
                    </div>

                    <div th:if="${usuario == null}"
                        class="btn-nav d-flex align-items-center gap-1 border-start border-end" data-bs-toggle="modal"
                        data-bs-target="#login" style="cursor: pointer;">
                        <i class="fa-solid fa-bag-shopping" style="color: #505050; font-size: 1.2rem;"></i>
                        <p class="mb-0 lh-sm small text-start" style="color: #505050;">Mis <br> Compras</p>
                    </div>

                    <a th:if="${usuario != null}" th:href="@{/Carrito}"
                        class="btn-nav d-flex align-items-center gap-1 border-start border-end text-decoration-none"
                        style="cursor: pointer;">
                        <i class="fa-solid fa-bag-shopping" style="color: #505050; font-size: 1.2rem;"></i>
                        <p class="mb-0 lh-sm small text-start" style="color: #505050;">Mis <br> Compras</p>
                    </a>

                    <!-- Usuario NO logeado -->
                    <div th:if="${usuario == null}" class="btn-nav-carrito" data-bs-toggle="modal"
                        data-bs-target="#login" style="cursor: pointer;">
                        <i class="fa-solid fa-cart-shopping" style="color: #505050; font-size: 1.2rem;"></i>
                    </div>

                    <!-- Usuario logeado -->
                    <div th:if="${usuario != null}" class="btn-nav-carrito" data-bs-toggle="offcanvas"
                        href="#carritoModal" role="button" aria-controls="carritoModal" style="cursor: pointer;">
                        <i class="fa-solid fa-cart-shopping" style="color: #505050; font-size: 1.2rem;"></i>
                    </div>


                </div>
            </div>
        </nav>

        <div class="collapse d-lg-none pb-2" id="searchCollapse">
            <form class="d-flex" role="search">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Buscar productos..." aria-label="Search">
                    <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
    </header>

    <!-- Versión móvil -->
    <a class="container-fluid px-3 align-items-center d-flex d-lg-none"
        style="background-color: #ECECEC; height: 2.5rem;" href="">
        <nav class="w-100 d-flex justify-content-between align-items-center"
            style="height: 2.5rem; font-size: 0.9rem; color: #505050;">
            <div class="d-flex align-items-center">
                <i class="fa-solid fa-location-dot"></i>
                <span class="ms-2" style="font-size: 0.9rem;">Ingresar ubicación</span>
            </div>
            <i class="fa-solid fa-chevron-right ms-2"></i>
        </nav>
    </a>

    <!-- Versión escritorio -->
    <header class="d-none d-lg-flex container-fluid px-lg-5 align-items-center"
        style="background-color: #ECECEC; height: 2.5rem;">
        <nav class="navbar navbar-expand-lg m-0 d-flex justify-content-end w-100"
            style="height: 2.5rem; box-shadow: none; background-color:#ECECEC ; font-size: 0.9rem; color: #505050;">
            <div class="d-flex flex-row gap-1 ">
                <div class="btn-nav py-1 px-2 position-relative">
                    <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseAyuda" role="button"
                        aria-expanded="false" aria-controls="collapseAyuda">
                        <i class="fa-solid fa-circle-question"></i>
                        <span>Ayuda</span>
                        <i class="fa-solid fa-chevron-down ms-1"></i>
                    </a>
                    <div class="collapse position-absolute end-0 p-2" id="collapseAyuda"
                        style="width: 280px; z-index: 1000; padding: 0;">
                        <div class="card card-body shadow mt-2 p-2">
                            <ul class="list-unstyled mb-0">
                                <a th:href="@{/metodosPago}">
                                    <li class=" btns-ayuda">Metodos de pago</li>
                                </a>
                                <a th:href="@{/Canales}">
                                    <li class=" btns-ayuda">Canales de atención</li>
                                </a>
                                <hr class="my-2">
                                <li style="padding: 0.6rem;">¿Tienes dudas? <b>Contáctanos</b>
                                    servicioalcliente@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menú de Navegación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item mb-2" th:if="${usuario == null}">
                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#login" style="cursor: pointer;">
                        <i class="fa-solid fa-user me-2"></i> Iniciar Sesión
                    </a>
                </li>

                <li class="nav-item mb-2" th:if="${usuario != null}">
                    <a class="nav-link" th:text="${usuario.name != null ? usuario.name : 'Usuario'}"
                        style="cursor: default;"></a>
                </li>

                <li class="nav-item mb-2" th:if="${usuario != null}">
                    <a class="nav-link text-danger" th:href="@{/usuarios/logout}">
                        <i class="fa-solid fa-right-from-bracket me-2"></i> Cerrar Sesión
                    </a>
                </li>

                <li class="nav-item mb-2" th:if="${usuario != null and usuario.rol == 'ADMINISTRADOR'}">
                    <a class="nav-link fw-bold" th:href="@{/VistaAdmin}">
                        <i class="fa-solid fa-user-gear me-2"></i> Ver panel admin
                    </a>
                </li>

                <li th:if="${usuario == null}" class="nav-item mb-2">
                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#login" style="cursor: pointer;">
                        <i class="fa-solid fa-bag-shopping me-2"></i> Mis Compras
                    </a>
                </li>

                <li th:if="${usuario != null}" class="nav-item mb-2">
                    <a class="nav-link" th:href="@{/Carrito}" style="cursor: pointer;">
                        <i class="fa-solid fa-bag-shopping me-2"></i> Mis Compras
                    </a>
                </li>

                <hr>
                <li class="nav-item"><a class="nav-link fw-bold" th:href="@{/ofertas}">Ofertas</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/novedades}">Novedades</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/marcas}">Nuestras Marcas</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/contacto}">Contacto</a></li>
                <hr>
                <li class="nav-item mb-2">
                    <a class="btn btn-primary w-100 d-flex align-items-center justify-content-center gap-1"
                        data-bs-toggle="offcanvas" href="#cat1" role="button" aria-controls="cat1">
                        <i class="fa-solid fa-bars"></i>Ver todas las Categorías
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>