<div th:fragment="gest-metodoPago">

    <div class="mb-3">
        <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#gest-metodoPago">
            Añadir producto
        </button>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="metodoPago : ${metodoPagos}">
                <td th:text="${metodoPago.id}"></td>
                <td th:text="${metodoPago.name}"></td>
                <td th:text="${metodoPago.description}"></td>
                <td>
                    <button type="button" class="btn btn-warning"
                        th:attr="data-bs-target='#edit-metodoPago-' + ${metodoPago.id}" data-bs-toggle="modal">
                        Editar
                    </button>
                    <form th:action="@{'/metodoPagos/eliminar/' + ${metodoPago.id}}" method="post" style="display:inline;">
                        <button class="btn btn-danger" type="submit"
                            onclick="return confirm('¿Seguro que quieres eliminar este Método de Pago');">
                            Eliminar
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="gest-metodoPago" tabindex="-1" aria-labelledby="gestmetodoPagoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="padding: 25px; background-image: url(Img/form-fond.png); border: 3px solid #e3e3e3;">
                <form th:action="@{/metodoPagos}" method="post" th:object="${metodoPago}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="gestmetodoPagoLabel">Añadir nuevo Método Pago</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" th:field="*{name}" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Descripción</label>
                            <textarea class="form-control" th:field="*{description}" rows="3" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Añadir Método Pago</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:each="metodoPago : ${metodoPagos}">
        <div class="modal fade" th:id="'edit-metodoPago-' + ${metodoPago.id}" tabindex="-1"
            aria-labelledby="editMetodoPagoLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="padding: 25px; background-image: url(Img/form-fond.png); border: 3px solid #e3e3e3;">
                    <form th:action="@{'/metodoPagos/editar/' + ${metodoPago.id}}" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editMetodoPagoLabel">Editar Método de Pago</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label">Nombre</label>
                                <input type="text" class="form-control" name="name" th:value="${metodoPago.name}"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Descripción</label>
                                <textarea class="form-control" name="description" rows="3"
                                    th:text="${metodoPago.description}" required></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-warning">Guardar cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>