:root {
  --bs-primary: #00CFFF;   /* Celeste brillante */
  --bs-secondary: #BDC3C7; /* Plateado */
  --bs-success: #FF6F00;   /* Naranja */
  --bs-dark: #1C2833;      /* Azul petróleo */
  --bs-light: #FFFFFF;     /* Blanco puro */
}
