:root {
  --bs-primary: #00ff95;
  /* Celeste brillante */
  --bs-secondary: #BDC3C7;
  /* Plateado */
  --bs-success: #0dc763;
  /* Naranja */
  --bs-dark: #eaebea;
  /* Azul petróleo */
  --bs-light: #FFFFFF;
  /* Blanco puro */
}

.imgprod img {
  padding: 30px;
}

.spec-box {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.179);
  margin: 0 auto;
  max-height: 200px;
  max-width: 500px;
  overflow-y: auto;
  border: 3px solid #BDC3C7;
  border-radius: 8px;
}

.btn-primary {
  background-color: #06b56c;
  border: none;
}

.btn-primary:hover {
  background-color: #05975a;
}

.btn-primary:active {
  background-color: #035e38 !important;
}

.btn-outline-success {
  border-color: #06b56c;
  color: green;
  backdrop-filter: blur(1.7px);
}

.btn-outline-success:hover {
  border-color: #05975a;
}


.btn-outline-light {
  border: none;
}

.btn-outline-light:hover {
  -webkit-mask: url("/Img/Icon-Carrito.svg") no-repeat center;
  mask: url("/Img/Icon-Carrito.svg") no-repeat center;
  background-color: #035e38;

}

#carousel-resena .carousel-inner {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navbar {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.199);
  margin-bottom: 15px;
  background-image: url("/Img/head.png");
}

#cat1 {
  width: 320px;
}

#cat2 {
  width: 380px;
}

#cat1 .offcanvas-body {
  color: white;
}

#cat1 .offcanvas-body img {
  filter: invert(1);
}

#cat2 a {
  text-decoration: none;
  color: #BDC3C7;
}

#cat2 a:hover {
  color: white;
  transition: 350ms;
}


.productostop {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.canales-de-atencion {
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.productostop .card img {
  margin-top: 15px;
  height: 360px;
}

.card:hover {
  transition: 350ms;
  border-color: #06b56c;
  transform: scale(1.005);
  box-shadow: 0px 4px 10px #048f5532;
}

.card.no-hover:hover {
  transform: none !important;
}

.modal .form-control {
  border: 3px solid #e3e3e3;
  backdrop-filter: blur(20px);
}

.imgprod img {
  padding: 30px;
}

.spec-box {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.179);
  margin: 0 auto;
  max-height: 200px;
  max-width: 500px;
  overflow-y: auto;
  border: 3px solid #BDC3C7;
  border-radius: 8px;
}

.enviospend {
  border: 3px solid #eaebea;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.382);
  border-radius: 14px;
  padding: 15px;
}

.dropdown-menu .dropdown-item:active {
  background-color: #198754 !important;
  color: white !important;
}

.dropdown-menu {
  z-index: 2000;
}

#carousel-resena .carousel-control-prev-icon,
#carousel-resena .carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  background-size: 100% 100%;
}


#carousel-resena .carousel-control-prev-icon,
#carousel-resena .carousel-control-next-icon {
  filter: invert(1);
}

/*PANEL ADMIN*/
.sidebar {
  padding-top: 15px;
  color: black;
  height: 100vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.199);
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-image: url("/Img/head.png");
}

.content {
  padding: 20px;
}

.table-actions button {
  margin-right: 5px;
}


@media (max-width: 600px) {
  .canales .card {
    padding-bottom: 10px;
  }

  #opciones button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #opciones form {
    margin-bottom: 10px;
  }
}